<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.intact.riro-bridge</string>
  <key>ProgramArguments</key>
  <array>
    <string>__INSTALL_DIR__/run-bridge.zsh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>RIRO_BRIDGE_SECRET</key><string>__BRIDGE_SECRET__</string>
    <key>RIRO_TAILSCALE_BIN</key><string>__TAILSCALE_BIN__</string>
    <key>RIRO_PYTHON_BIN</key><string>__PYTHON_BIN__</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>ExitTimeOut</key><integer>15</integer>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>__INSTALL_DIR__/bridge.log</string>
  <key>StandardErrorPath</key><string>__INSTALL_DIR__/bridge-error.log</string>
</dict>
</plist>
